

// contact us form width
$desktop-form-width:25%;
$mobile-form-width:80%;


.contact-us-title{
  margin-top: 3%;
  width: $mobile-form-width;
  p{
    text-align: justify;
    text-justify: inter-word;
  }
}


.contact-us-form{
  text-align: left;
  margin-top: 3%;
  width: $mobile-form-width;
  input:-moz-placeholder {
    box-shadow:none !important;
  }

  input:invalid {
    box-shadow:0 0 3px white;
  }
  textarea:invalid {
    box-shadow:0 0 3px white;
  }


  //background-color: red;

}



// This applies from 600px onwards
@media (min-width: 600px) {

  .contact-us-title{

    width: $desktop-form-width;
    p{
      text-align: justify;
      text-justify: inter-word;
    }
  }


  .contact-us-form{
    text-align: left;
    width: $desktop-form-width;
    //background-color: red;
    .form-validator{
      color: red;
    }

  }



}



