
body{
    $backgroundColor: linear-gradient(to right, #DBE0E6, #E9ECEF, #DBE0E6);
    font-family: 'Poppins', sans-serif;
    background: #F4F2F5; /* For browsers that do not support gradients */
    background: $backgroundColor;
    /*background: linear-gradient(to bottom right,#E0DBE3 , #F4F2F5); /* Standard syntax (must be last) */

    .backgroundo-color{
        background: $backgroundColor;
    }

    .landPageContent{
        background: url(../../images/background5.jpg) no-repeat center center;
        background-size: cover;
        height: 35em;
    }



    .backColor{
        background-color: #F2F2F2;
    }

    .vertical-center {
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        padding: 10em;
    }

    .row.no-gutters {
        margin-right: 0;
        margin-left: 0;

        & > [class^="col-"],
        & > [class*=" col-"] {
            padding-right: 0;
            padding-left: 0;
        }
    }

    .wrap {
        min-height: calc(100vh - 89px);

    }

    .card-profile{
        padding-top: 5%;
        img{
            width: 25em;
            height: 20em;
        }
    }

}


// This applies from 600px onwards
@media (min-width: 600px) {

    .card-profile{
        padding-top: 5%;
        img{
            width: 10em;
            height: 5em;
        }
    }

}